doctype html
html
  head
    title Scoreboard
  style.
    .score-board {
    text-align: center;
    padding: 25px;
    }
    .player {
    display: inline-block;
    padding: 15px;
    }
    .player h4 {
    font-weight: bold;
    }
    .score-box {
    border: 3px solid black;
    border-radius: 5px;
    padding: 30px;
    color: #2CB3C9;
    }

    .score-box-current {
    border: 3px solid black;
    border-radius: 5px;
    padding: 30px;
    background-color: #8aff8d;
    color: #2CB3C9;
    }

    .current-player {
    color: green;
    }

  body
    script(src="/socket.io/socket.io.js")
    script.
      var socket = io();

      socket.on('connect', function(player_count) {
        console.log("connected");
      });

      socket.on('data', function(data) {
        
        var scores = data['player_scores']        
        for (var i = 0; i < scores.length; i++) {
          document.getElementById(i).innerHTML = scores[i];

          var classes = document.getElementById(i).classList
          if (classes.contains('score-box-current')) {
            classes.remove('score-box-current')
            classes.add('score-box')
          }
        }

        var current_player = data['current_player']
        var classes = document.getElementById(current_player).classList
        classes.add('score-box-current')

      });
    
    .score-board
      - var current_player = current_player
      - var player_count = player_scores.length
      - for (var x = 0; x < player_count; x++)
        if (x == current_player)
          .player
            h4 Player #{x}
            div(id=x).score-box-current
              | #{player_scores[x]}
        else 
          .player
            h4 Player #{x}
            div(id=x).score-box
              | #{player_scores[x]}